---
import { Image } from "astro:assets";
import avatar from "../images/avatar.jpg";
import denmark from "../images/denmark.webp";
import githubLogo from "../images/github-mark.svg";
import linkedinLogo from "../images/linkedin.png";
import outlookLogo from "../images/outlook.svg";
import githubLogoWhite from "../images/github-mark-white.svg";
const skills = [
    "AWS",
    "Azure",
    "Java",
    "Spring",
    "React",
    "Python",
    "Javascript",
    "DB2",
    "SQL",
    "NextJS",
    "Rust",
    "FastAPI",
    "Axum",
    "Agile methodology",
    "Software Architecture",
    "Websphere",
    "Hibernate",
    "Django",
    "TailwindCSS",
];
const certifications = [
    {
        name: "AWS Certified Cloud Practitioner",
        earnedOn: "02/04/2025",
        link: "https://www.credly.com/badges/4420a690-8cba-48ad-bd4a-f20b12d44491/public_url",
    },
    {
        name: "Terraform Associate (003)",
        earnedOn: "21/03/2025",
        link: "https://www.credly.com/badges/06d18ae9-4e80-47d5-bf49-d8582fdacc39/public_url",
    },
    {
        name: "SC-900 : Security, Compliance, and Identity Fundamentals",
        earnedOn: "05/03/2025",
        link: "https://learn.microsoft.com/api/credentials/share/en-us/llabeye/D3D2E5191ECE725A?sharingId=607BD74E791FA26E",
    },
    {
        name: "AI-900 : Azure AI Fundamentals",
        earnedOn: "28/02/2025",
        link: "https://learn.microsoft.com/api/credentials/share/en-us/llabeye/4D546F07B9FC2D16?sharingId=607BD74E791FA26E",
    },
    {
        name: "AZ-900 : Azure Fundamentals",
        earnedOn: "23/02/2025",
        link: "https://learn.microsoft.com/api/credentials/share/en-us/llabeye/485804E946B9FB1D?sharingId=607BD74E791FA26E",
    },
];

const timeline = [
    {
        start: "Since February 2025",
        name: "Fullstack Developer in TotalEnergies",
    },
    {
        start: "February 2025 - September 2021",
        name: "Consultant for Allianz Trade (Paris) on behalf of Aubay",
    },
    {
        start: "April 2021",
        name: "Graduated from ESIGELEC",
    },
    {
        start: "Summer 2020",
        name: "Internship at SustainEcho",
    },
    {
        start: "2019",
        name: "Erasmus Exchange in Brussels",
    },
    {
        start: "2017",
        name: "Summer student program in Dublin",
    },
];
---

<script>
    import { animate, scroll } from "motion";

    scroll(
        animate("#id_card, #timeline, #skills", {
            transform: [`translateX(-20vw)`, "none", "none"],
            opacity: [0, 1],
            duration: 0.3,
        }),
        {
            target: document.querySelector("#recap"),
            offset: ["start end", "end start"],
        },
    );
    scroll(
        animate("#certs, .rtl-anim", {
            transform: [`translateX(20vw)`, "none", "none"],
            opacity: [0, 1],
            duration: 0.3,
        }),
        {
            target: document.querySelector("#recap"),
            offset: ["start end", "end start"],
        },
    );
    scroll(
        animate("#flag", {
            transform: [`translateY(-20vh)`, "none", "none"],
            opacity: [0, 1],
            duration: 0.3,
        }),
        {
            target: document.querySelector("#recap"),
            offset: ["start end", "end start"],
        },
    );
    scroll(
        animate("#languages", {
            transform: [`translateY(20vh)`, "none", "none"],
            opacity: [0, 1],
            duration: 0.3,
        }),
        {
            target: document.querySelector("#recap"),
            offset: ["start end", "end start"],
        },
    );
</script>
<section id="recap" name="recap" class="h-dvh flex flex-col gap-2 p-4">
    <div class="flex gap-2">
        <div
            id="id_card"
            class="card bg-base-200 shadow-sm w-full md:w-2/3 lg:w-5/6"
        >
            <div class="card-body card-side space-x-4">
                <div class="avatar">
                    <div
                        class="ring-primary ring-offset-base-100 w-24 rounded-full ring ring-offset-2"
                    >
                        <Image src={avatar} loading="lazy" alt="avatar" />
                    </div>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="text-3xl lg:text-8xl">LABEYE Loïc</h2>
                    <p>27 years old software engineer</p>
                    <p class="md:hidden">🇩🇰 Denmark</p>
                </div>
            </div>
        </div>
        <div
            id="flag"
            class="card bg-base-200 max-md:hidden w-1/3 lg:w-1/6 shadow-sm"
        >
            <figure>
                <Image loading="lazy" src={denmark} alt="Denmark flag" />
            </figure>
            <div class="card-body">
                <h2 class="card-title text-center justify-center h-full">
                    📌 Currently living in Denmark
                </h2>
            </div>
        </div>
    </div>
    <div id="timeline" , class="w-full">
        <div class="card bg-base-200 shadow-sm w-full">
            <div class="card-body overflow-x-auto max-w-full">
                <ul class="timeline timeline-horizontal max-w-full">
                    {
                        timeline.map((event, i) => (
                            <li>
                                {i != 0 && <hr />}
                                <div class="timeline-start">{event.start}</div>
                                <div class="timeline-middle">
                                    <svg
                                        xmlns="http://www.w3.org/2000/svg"
                                        viewBox="0 0 20 20"
                                        fill="currentColor"
                                        class="h-5 w-5"
                                    >
                                        <path
                                            fill-rule="evenodd"
                                            d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z"
                                            clip-rule="evenodd"
                                        />
                                    </svg>
                                </div>
                                <div class="timeline-end timeline-box">
                                    {event.name}
                                </div>
                                <hr />
                            </li>
                        ))
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="flex flex-col md:flex-row gap-2">
        <div
            id="skills"
            class="w-full md:w-1/2 h-full flex flex-col justify-between"
        >
            <div class="card bg-base-200 shadow-sm w-full h-full">
                <div class="card-body max-w-full">
                    <h2 class="text-xl lg:text-3xl">Skills</h2>
                    <div class="flex gap-2 flex-wrap">
                        {
                            skills.map((skill) => (
                                <div class="badge badge-soft badge-primary badge-md lg:badge-lg">
                                    {skill}
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
        <div id="certs" class="w-full md:w-1/2">
            <div class="card bg-base-200 shadow-sm w-full">
                <div class="card-body max-w-full">
                    <h2 class="text-xl lg:text-3xl">Certifications</h2>
                    <div class="carousel carousel-center space-x-4 rounded-box">
                        {
                            certifications.map((cert) => (
                                <div class="carousel-item w-4/5 card bg-primary text-primary-content">
                                    <div class="card-body">
                                        <h2 class="card-title">{cert.name}</h2>
                                        <p>Earned on {cert.earnedOn}</p>
                                        <div class="card-actions justify-end">
                                            <a
                                                href={cert.link}
                                                aria-label="AWS Certified Cloud Practitioner"
                                                target="_blank"
                                            >
                                                <button class="btn">
                                                    Check it!
                                                </button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            ))
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-2 items-center">
        <div
            class="w-2/3 md:w-1/4 h-full flex flex-col justify-center"
            id="languages"
        >
            <div class="card bg-base-200 shadow-sm w-full h-full">
                <div class="card-body max-w-full">
                    <h2 class="text-xl lg:text-3xl">Languages</h2>
                    <div class="flex gap-2 flex-wrap">
                        <div class="badge badge-soft badge-primary">French</div>
                        <div class="badge badge-soft badge-primary">
                            English
                        </div>
                        <div class="badge badge-soft badge-primary">German</div>
                    </div>
                </div>
            </div>
        </div>
        <a
            href="https://www.github.com/nag763"
            class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80 rtl-anim"
            aria-label="GitHub"
        >
            <Image
                class="w-1/2 md:w-1/4 light:hidden"
                src={githubLogoWhite}
                loading="lazy"
                alt="gh_logo"
            />
            <Image
                class="w-1/2 md:w-1/4 dark:hidden"
                src={githubLogo}
                loading="lazy"
                alt="gh_logo"
            />
        </a>
        <a
            href="https://www.linked.in/labeyel"
            class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80 rtl-anim"
            aria-label="LinkedIn"
        >
            <Image
                class="w-1/2 md:w-1/4"
                src={linkedinLogo}
                loading="lazy"
                alt="gh_logo"
            />
        </a>
        <a
            href="mailto:loic.labeye@pm.me"
            class="w-1/6 md:w-1/4 flex justify-center items-center hover:opacity-80 rtl-anim"
            aria-label="Email"
        >
            <Image
                class="w-1/2 md:w-1/4"
                src={outlookLogo}
                loading="lazy"
                alt="email"
            />
        </a>
    </div>
</section>
